<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet href="themes/style.css" type="text/css">
</head>

<body style="background-color:white">
    <div class="topnav" id="myTopnav">
        <div class="logo">
            <a href="homepage.jsp"><img src="pictures/Logo.png"></a>
        </div>
        <div class="dropdown">
            <a href="viewmember" class="dropbtn">Members</a>
            <div class="dropdown-content">
                <a href="viewmember">Manage Member</a>
                <a href="addmember.jsp">Add Member</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="viewevent" class="dropbtn">Event</a>
            <div class="dropdown-content">
                <a href="viewevent">Event List</a>
                <a href="event">Add Event</a>
                
            </div>
        </div>
         <div class="dropdown">
        <a href="aboutus.jsp" class="dropbtn">About Us</a>
    </div>
    <div class="dropdown">
        <a href="faq.jsp" class="dropbtn">FAQ</a>
    </div>
        <div class="right">
        <% if (member.getPosition().equals("Guest")) {%>
        <a href="login.jsp">Login</a>
        <a href="register.jsp">Register</a>
         <% } else { %>
            <a href="editprofile.jsp">Profile</a>
            <a href="logout">Logout</a>
        <% } %>        </div>
    </div>
    <div class="content" style="background-color: whitesmoke">
        <h1>Template</h1>
        <hr/>
    </div>


    <footer>TARUC Gaming Society<sup>&reg;</sup> All Right Reserved</footer>

</body>
</html>